---
- name: install | Installing Pre-Reqs
  apt:
    name: "{{ item }}"
    state: "present"
  with_items:
    - 'build-essential'
    - 'libffi-dev'
    - 'libssl-dev'
    - 'python-dev'
    - 'python-pip'
    - 'python-setuptools'

- name: install | Adding MAAS Repo Info
  apt_repository:
    repo: '{{ maas_repo }}'
    state: "present"

- name: install | Installing MAAS (Single-Node)
  apt:
    name: "maas"
    state: "present"
  when: maas_single_node_install

- name: install | Checking If MAAS Admin Account Has Been Created
  stat:
    path: "/etc/maas/.admin_account_created"
  register: "maas_admin_account_check"

- name: install | Creating MAAS Admin Account(s)
  command: "sudo maas createadmin --username {{ item.username }} --email {{ item.email }} --password {{ item.password }}"
  register: "maas_admin_account_created"
  with_items: '{{ maas_adminusers }}'
  when: not maas_admin_account_check.stat.exists

- name: install | Marking MAAS Admin Account As Being Created
  file:
    path: "/etc/maas/.admin_account_created"
    state: "touch"
  when: maas_admin_account_created.changed

- name: install | Installing Libvirt (KVM)
  apt:
    name: "libvirt-bin"
    state: "present"

- name: install | Installing MAAS Python Module(s)
  pip:
    name: "{{ item }}"
    state: "present"
  with_items:
    - 'argparse'
    - 'argparse_config'
    - 'httplib2'
    - 'maasutil'
    - 'oauth'
